h1{
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}
body{
    text-align: center;
    background-color: rgb(17, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
#contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input{
    margin: 5px;
    padding: 10px;
    background-color:black;
    color: violet;
    font-size: 15px;
    text-align: center;
    border: 3px solid;
    text-transform: initial;
    text-decoration: none;
    letter-spacing: 2px;
    outline: antiquewhite;
}
.dropzone {
    text-align: center;
    width: 500px;
    height: 150px;
    border:dashed black;
    color:black;
    line-height: 100px;
    position: absolute;
    left: 37%;
    margin-left: -50px;
    top: 30%;
    margin-top: -50px;
}
.dropzone.dragover {

    border-color: #000;
    color:#000;
}
