h1, h2{
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}
body{
    text-align: center;
    background-color: #ffcead7e;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;  
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 5%;
}
input{
    margin: 5px;
    padding: 10px;
    background-color: rgb(130, 189, 238);
    color: black;
    font-size: 13px;
    text-align: center;
    border: 3px solid;
    text-transform: initial;
    text-decoration: none;
    letter-spacing: 1px;
}
button:hover{
    transition: 0.3s;
    background-color: aquamarine;
    color: black;
    text-decoration: underline;
}
.tabla{
    background-color: rgb(255, 246, 246);
    color: black;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    border: solid 2px; 
}
th, td{
    padding: 1%;
    border: solid 2px; 
}
tr:first-of-type{background-color: #fff281;
color:black;
}
tr:nth-child(even){
    background-color: #e2e2e2;

}
tr:hover td{
    background-color: #669beb;
    color: white;   
    
}

tr:nth-child(even).selected {
    background-color: #c2ecf7;
    color:  white;
}


.selected {
    background-color: #9aebff;
    color: white;
}
  
 
  